<section>
  <div *ngIf="status === Status.LoggedIn" class="d-flex flex-column justify-content-center align-items-center">
    <div>{{ nick }}, You are logged in.</div>
    <div>
      <button mat-mini-fab color="primary" matTooltip="Logout" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Go to chat" (click)="chatNavigate()">
        <mat-icon>chat</mat-icon>
      </button>
    </div>
  </div>
  
  <mat-spinner *ngIf="status === Status.Loading"></mat-spinner>

  <form #form="ngForm" *ngIf="status === Status.LoggedOut">
    <div class="row">Before joining, please choose your nick:</div>
    <div class="form-group d-flex flex-column justify-content-center">
      <mat-form-field appearance="outline" class="row ">
        <mat-label>Nick</mat-label>
        <input
          matInput
          placeholder="..."
          [(ngModel)]="nick"
          name="nick-input"
          required
          minlength="3"
        />
      </mat-form-field>
      <div class="row  justify-content-center">
        <button
          mat-raised-button
          color="primary"
          matTooltip="Login"
          [disabled]="!form.valid"
          (click)="login()"
        >
          Start
        </button>
      </div>
    </div>
  </form>
</section>
