<mat-toolbar class="justify-content-between">
    <a role="button"><div class="homepage-nav" (click)="navigate('home')" matRipple> Quick Chat</div></a>
    <div class="button-container">
      <button mat-mini-fab color="primary" matTooltip="Info about the action" (click)="navigate('about')">
        <mat-icon>info</mat-icon>
      </button>
    </div>
 </mat-toolbar>
