section {
  margin-top: 2vh;
  width: 80vw;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(190, 190, 190, 0.3);
}
section > .d-flex {
  margin-top: 5px;
}
section .messages-container {
  height: 70vh;
  overflow: auto;
}
mat-form-field {
  width: 80%;
}
