<section class="d-flex flex-column  justify-content-center">
  <div class="messages-container">
    <app-message
      *ngFor="let message of messages; last as isLast"
      [message]="message"
      [isMine]="message.authorId === userId ? true : false"
    >
      <span *ngIf="isLast" #lastMessage></span>
    </app-message>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput #text required #msg></textarea>
    </mat-form-field>
    <button
      mat-mini-fab
      type="submit"
      [disabled]="!msg.value"
      color="primary"
      aria-label="Send message button"
      (click)="sendMessage()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</section>

<!-- 
<mat-card class="example-card" *ngFor="let message of messages; last as isLast">
  <span *ngIf="isLast" #lastMessage></span>
  <mat-card-content color="primary">
    <p>
      {{ message.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-card-subtitle
      >{{ message.authorNick }},
      {{ message.date | date:'MMM d, y, h:mm:ss a' }}</mat-card-subtitle
    >
  </mat-card-actions>
</mat-card> -->
