<div
  class="message"
  [ngClass]="{ 'my-message': isMine }"
  ngInit
  matRipple
  (click)="isExpanded = !isExpanded"
>
  <ng-content></ng-content>
  <div class="content" color="primary">
    <p>
      {{ message.content | shorten: isExpanded }}
    </p>
  </div>
  <div class="info">
    {{ message.authorNick }},
    {{ message.date | date: "MMM d, y, h:mm:ss a" }}
    <div *ngIf="isMine && isExpanded">
      <button
        mat-mini-fab
        color="warn"
        aria-label="Delete"
        (click)="deleteMsg()"
        matTooltip="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
