.message {
    margin-top: 3px;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 10px;
    width: 80%;
    float: left;
    word-wrap: break-word;
    >.info{
        font-size: 0.8em;
        color: gray;
        >div{
            float: right;
        }
    }

}

.my-message {
    float: right;
    background-color: #673ab7;
    border-radius: 10px;
    border-top-right-radius: 0px;
    color: white;
    >.info{
        color: rgb(201, 201, 201);
    }
}