.message {
  margin-top: 3px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 10px;
  width: 80%;
  float: left;
  word-wrap: break-word;
}
.message > .info {
  font-size: 0.8em;
  color: gray;
}
.message > .info > div {
  float: right;
}
.my-message {
  float: right;
  background-color: #673ab7;
  border-radius: 10px;
  border-top-right-radius: 0px;
  color: white;
}
.my-message > .info {
  color: #c9c9c9;
}
